<?xml version="1.0" encoding="utf-8"?>
<setting>
  <svn path="C:/cygwin/bin/svn.exe" />
  <interval sec="60000" />
  <repositories>
    <repository url="http://svn.wikimedia.org/svnroot/mediawiki/tags/REL1_6_2/phase3" revision="1" />
    <repository url="http://svn.openscenegraph.org/osg" revision="1" />
  </repositories>
</setting>